*{
 /* background-color: darkslategray; */
 box-sizing:border-box;
}

#root{
 align-items:center;
 justify-content: center;
 display:flex;
 gap: 20px;
 flex-wrap: wrap;
 min-height: 100vh;
 margin: 0;

}

h4{
  margin: 10px 0px;
}

h5{
  margin: 5px 0px;
  text-transform: uppercase;
}

.card-container{
  background-color: burlywood;
  color:saddlebrown;
  border-radius: 5px;
  width: 350px;
  max-width: 100%;
  height: 500px;
  max-height:100%;

  padding-top: 25px;
  text-align: center;
  position: relative;
  
}

.pro{
  border-radius: 2px;
  background-color: rgb(203, 8, 8);
  color: rgb(235, 227, 227);
  font-size: 10px;
  font-weight: bold;
  padding: 3px 6px;
  position: absolute;
  top: 20px;
  left:48px
  

}

.online{
  background-color: lightgreen;
  color: darkgreen;
}

.offline{
  background-color: rgb(203, 8, 8);
  color: rgb(235, 227, 227);
  
}

.img{
  width: 120px;
  height: 140px;
  padding: 5px;
  border: 3px solid saddlebrown;
  border-radius: 50%;

}
.button{
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}

.buttonA{
  background-color: rgb(31, 31, 188);
  color: aliceblue;
  padding: 3px 5px;

}
.following{
  background-color: transparent;
  color: saddlebrown;
}
.skills{
  background-color:rgb(217, 167, 101);
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height:200px;

}

.skills h5{
  color:#600c0c;

}

.skills ul{
  list-style-type: none;
  text-align: left;
  color:#600c0c;
  
}

.skills ul li{
  border: 1px solid ;
  display: inline-block;
  border-radius: 5px;
  padding: 2px;
  font-size: 15px;
  margin:2px 5px;
}